
// Greys
$black: #34363E;
$gray: #DFE2EC;
$gray-light: #F0F1F5;
$gray-lightest: #F6F7F9;

// Pink
$pink-dark: #E02A47;
$pink: #FF698F;
$pink-light: #FFCEDC;
$pink-lightest: #FFE5ED;

// Blue
$blue-dark: #5E43F9;
$blue: #A7A8E9;
$blue-light: #D5D1FD;
$blue-lightest: #E9E7FE;

$bgray-dark: #8E88B4;
$bgray: #BFBFD1;
$bgray-light: #E4E3EB;
$bgray-lightest: #F1F0F4; 

// Green
$green-dark: #17CF7F;
$green: #77EEBA;
$green-light: #99FFD3;
$green-lightest: #E5FFF4;
