
:focus {
  outline-color: $pink;
}

.primary-button {
  background-color: white;
  color: $blue-dark;
  padding: .2rem .5rem;
  border: 1px solid $pink;
  display: flex;
  justify-content: center;

  &:hover, &:focus {
    background-color: $pink-lightest;
  }
}


@media not all and (max-height: 899px) and (min-resolution:.1dpi) { 
    .safari-only { 
      -webkit-padding-after: 1.7rem;
    }
}

// Borders Styling

.border-bottom {
  border-bottom: 1px solid $bgray-lightest;
}

.border-top {
  border-top: 1px solid $bgray-lightest;
}

.border-right {
  border-right: 1px solid $bgray-lightest;
}

.contact-input {
  border: 1px solid $gray-dark;

  &:focus {
    border: 1px solid $blue-dark;
  }
}

// Page elements

.main-content {
  display: grid;
  grid-gap: 2rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  position: relative;
}

.grid-view {
  grid-template-columns: repeat(4, 1fr);

  @media (min-width:1200px) and (max-width:1800px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width:900px) and (max-width:1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width:900px) {
    grid-template-columns: 1fr;
  }
}

.grid-list {
  grid-template-columns: repeat(1, 1fr);
}

.move-top {
  border: 1px solid $bgray-lightest;
  position: fixed;
  z-index: 10;
  right: .5rem;
  bottom: 5rem;
  background-color: white;
  padding: .25rem;
  font-size: medium;
  display: flex;

  @media (max-width: 1200px) {
    bottom: 4rem;
  }
}

.pagination {

  .link {
    display: flex;
    border: 1px solid $bgray-lightest;
    background-color: white;
    padding: 1rem;
    font-size: medium;
    text-align: center;
    transition: all, ease-in-out, 1s;

    &:hover {
      border-color: $pink;
      color: $blue-dark;
      transition: all, ease-in-out, .5s;
    }
  }
}

.settings-panel {
  button {
    color: $blue-darkest;

    &:focus {
      outline-color: $pink;
    }
  }

  .menu {
    display: none;
  }

  .dropdown:hover, .dropdown:focus, .dropdown:active, .dropdown:focus-within {

    .menu {
      display: flex;
      color: #717198;

    }
  }

}