
.card {
  opacity: 0;
  border: 1px solid;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: 1s linear forwards fadein;
  header {
    h1 {
      line-height: 25px;
    }
  }

  &:hover {
    box-shadow: 5px 10px 8px #36373754;
    transform: scale(1.02);

  }

  .letter {
    position: absolute;
    font-size: 80px;
    top: 0;
    left: .25rem;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.15);
  }
}

.card-pink {
  background-color: $pink;
  border-color: darken($pink, 30%);

  footer {
    color: darken($pink, 30%);
  }
}

.card-blue {
  background-color: $blue-light;
  border-color: darken($blue-light, 30%);

  footer {
    color: darken($blue-light, 30%);
  }
}

.card-green {
  background-color: $green;
  border-color: darken($green, 30%);

  footer {
    color: darken($green, 30%);
  }
}

.card-gray {
  background-color: $bgray-light;
  border-color: darken($bgray-light, 30%);

  footer {
    color: darken($bgray-light, 30%);
  }
}

@keyframes fadein {
  from {
    opacity: .2;
    
  }
  to {
    opacity: 1;
  }
}