
.primary-button {
  color: $blue-dark;
  padding: .2rem .5rem;
  border: 1px solid $pink;

  &:hover, &:focus {
    background-color: $pink-lightest;
  }
}

// Borders Styling

.border-bottom {
  border-bottom: 1px solid $bgray-lightest;
}

.border-top {
  border-top: 1px solid $bgray-lightest;
}

.border-right {
  border-right: 1px solid $bgray-lightest;
}


// Page elements

.sidebar-main {
  display: grid;
  grid-template-columns: 303px 1fr;

  @include mobile {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: block;
    min-height: 100%;

    @include mobile {
      display: none;
    }
  }
  .sidebar-header {
    color: $gray-dark;
    position: relative;
  }

  .sidebar-header::after{
    position: absolute;
    content: "";
    height: 2px;
    background-color: $bgray-lightest;
    top: 50%;
    width: 70%;
    margin-left: 15px;
  }


  .sidebar-menu-item {
    color: $blue-darkest;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: .5rem;
    cursor: pointer;

    &:hover {
      color: $blue-dark;
      font-size: 1.5rem;
    }
  }

  .sidebar-menu-item.active {
    color: $blue-dark !important;
    font-size: 1.5rem !important;
  }
  .main-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    padding: 2rem;

    @media (min-width:1200px) and (max-width:1500px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width:900px) and (max-width:1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:900px) {
      grid-template-columns: 1fr;
    }
  }
}

.move-top {
  border: 1px solid gainsboro;
  position: fixed;
  z-index: 10;
  right: .5rem;
  bottom: 5rem;
  background-color: white;
  padding: .25rem;
  font-size: medium;
  display: flex;
}
