@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@mixin mobile {
    @media (max-width:700px) {
      @content
    }
  };

  
@import './colors';
@import './header';
@import './elements';
@import './components';


html {
 font-size: 20px;
 line-height: 1.58;
 font-family: 'Montserrat', sans-serif;
}
